name: pre-commit

on:
    push:
      branches:
        - master
    pull_request:
    workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
      fail-fast: true
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: setup.cfg
    #   - uses: actions/cache@v3
    #     id: cache
    #     with:
    #       path: ${{ env.pythonLocation }}
    #       key: ${{ runner.os }}-python-${{ env.pythonLocation }}-${{ hashFiles('**/setup.cfg') }}-test
      - uses: pre-commit/action@v3.0.0